<table>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="firstRow">
              <mat-label>Artist</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="firstRow">
              <mat-label>Album</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="picker">
              <mat-label>Listened after</mat-label>
              <input matInput [matDatepicker]="pickerAfter">
              <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
              <mat-datepicker #pickerAfter></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="picker">
              <mat-label>Listened before</mat-label>
              <input matInput [matDatepicker]="pickerBefore">
              <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
              <mat-datepicker #pickerBefore></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Song count to search</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox>Search for all liked songs</mat-checkbox>
          </td>
        </tr>
        <tr>
          <td colSpan="2">
            <mat-form-field class="phrases" appearance="outline">
              <mat-label>Phrases</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let phrase of phrases" (removed)="remove(phrase)">
                  {{phrase}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder="New phrase..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colSpan="2">
            <button mat-raised-button color="primary" (click)="open()" class="submit">Submit</button>
          </td>
        </tr>
      </table>
    </td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<br>
<br>